{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Banking App</title>
    
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'users' %}">Users</a>
            <a href="{% url 'accounts' %}">Accounts</a>
        </nav>
    </header>
    <div class="container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
